<a href="https://colab.research.google.com/github/Edna-soso/DataAnalysis_Project/blob/main/Model/K_mean.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#K- means clustering

In [15]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [25]:
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler as ss
import datetime as dt

In [17]:
import pandas as pd
data = pd.read_csv('/content/drive/MyDrive/python_OP/OnlineRetail.csv', encoding = 'unicode_escape')

print(data.shape)

(541909, 8)

In [18]:
data.isna().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

Loại bỏ những hàng có CustomerID rỗng

In [19]:
data = data[pd.notnull(data['CustomerID'])]

In [20]:
data.shape

(406829, 8)

In [ ]:
data

       InvoiceNo StockCode  ... CustomerID         Country
0         536365    85123A  ...    17850.0  United Kingdom
1         536365     71053  ...    17850.0  United Kingdom
2         536365    84406B  ...    17850.0  United Kingdom
3         536365    84029G  ...    17850.0  United Kingdom
4         536365    84029E  ...    17850.0  United Kingdom
...          ...       ...  ...        ...             ...
541904    581587     22613  ...    12680.0          France
541905    581587     22899  ...    12680.0          France
541906    581587     23254  ...    12680.0          France
541907    581587     23255  ...    12680.0          France
541908    581587     22138  ...    12680.0          France

[406829 rows x 8 columns]

In [ ]:
data.describe()

            Quantity      UnitPrice     CustomerID
count  406829.000000  406829.000000  406829.000000
mean       12.061303       3.460471   15287.690570
std       248.693370      69.315162    1713.600303
min    -80995.000000       0.000000   12346.000000
25%         2.000000       1.250000   13953.000000
50%         5.000000       1.950000   15152.000000
75%        12.000000       3.750000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [21]:
data = data.query("Quantity > 0")
data.shape

(397924, 8)

In [ ]:
data.describe()

            Quantity      UnitPrice     CustomerID
count  397924.000000  397924.000000  397924.000000
mean       13.021823       3.116174   15294.315171
std       180.420210      22.096788    1713.169877
min         1.000000       0.000000   12346.000000
25%         2.000000       1.250000   13969.000000
50%         6.000000       1.950000   15159.000000
75%        12.000000       3.750000   16795.000000
max     80995.000000    8142.750000   18287.000000

In [ ]:
data1 = data.copy()

In [22]:
data['Date']=[item[0] for item in data['InvoiceDate'].str.split()]
data['Time']=[item[1] for item in data['InvoiceDate'].str.split()]
data['Hour']=[item[0] for item in data['Time'].str.split(':')]
data['Month']=[item[0] for item in data['Date'].str.split('/')]
data['TotalCost']=data['Quantity']*data['UnitPrice']

In [ ]:
data

       InvoiceNo StockCode  ... Month  TotalCost
0         536365    85123A  ...    12      15.30
1         536365     71053  ...    12      20.34
2         536365    84406B  ...    12      22.00
3         536365    84029G  ...    12      20.34
4         536365    84029E  ...    12      20.34
...          ...       ...  ...   ...        ...
541904    581587     22613  ...    12      10.20
541905    581587     22899  ...    12      12.60
541906    581587     23254  ...    12      16.60
541907    581587     23255  ...    12      16.60
541908    581587     22138  ...    12      14.85

[397924 rows x 13 columns]

In [28]:
Latest_date = dt.datetime(2011,12,10)
RFM_data = data.groupby('CustomerID').agg({'InvoiceDate' : lambda x :(Latest_date - x.max()).days,
                                          'InvoiceNo' : 'count','TotalCost' : 'sum'}).reset_index()

#converting the names of the columns
RFM_data.rename(columns = {'InvoiceDate' : 'Recency',
                          'InvoiceNo' : "Frequency",
                          'TotalCost' : "Monetary"},inplace = True)

In [29]:
RFM_data

      CustomerID  Recency  Frequency  Monetary
0        12346.0      325          1  77183.60
1        12347.0        2        182   4310.00
2        12348.0       75         31   1797.24
3        12349.0       18         73   1757.55
4        12350.0      310         17    334.40
...          ...      ...        ...       ...
4334     18280.0      277         10    180.60
4335     18281.0      180          7     80.82
4336     18282.0        7         12    178.05
4337     18283.0        3        756   2094.88
4338     18287.0       42         70   1837.28

[4339 rows x 4 columns]

In [30]:
data['InvoiceDate']=pd.to_datetime(data['InvoiceDate'])