<a href="https://colab.research.google.com/github/Edna-soso/DataAnalysis_Project/blob/main/Model/RFM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [32]:
%matplotlib inline
from google.colab import files
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
from matplotlib.gridspec import GridSpec
import seaborn as sns
import plotly.express as px
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler as ss

In [85]:
data = pd.read_csv('/content/drive/MyDrive/python_OP/Clean_Dataset.csv')

In [86]:
data['InvoiceDate']=pd.to_datetime(data['InvoiceDate'])

In [87]:
RFM_data = data.groupby('CustomerID').agg({'InvoiceDate' : lambda x :(Latest_date - x.max()).days,
                                          'InvoiceNo' : 'count','TotalCost' : 'sum'}).reset_index()

In [114]:
class RFM:
  def __init__(self,RFM_data):
    self.data=data
  def Rename_Col(self):
    return RFM_data.rename(columns = {'InvoiceDate' : 'Recency',
                          'InvoiceNo' : "Frequency",
                          'TotalCost' : "Monetary"},inplace = True)
  def Div_Part(self):
    quantiles = RFM_data.drop('CustomerID',axis = 1).quantile(q = [0.25,0.5,0.75])
    return quantiles
  def R_score(var,p,d):
    if var <= d[p][0.25]:
        return 1
    elif var <= d[p][0.50]:
        return 2
    elif var <= d[p][0.75]:
        return 3
    else:
        return 4
  def FM_score(var,p,d):
      if var <= d[p][0.25]:
          return 4
      elif var <= d[p][0.50]:
          return 3
      elif var <= d[p][0.75]:
          return 2
      else:
          return 1
  def Scoring(self):
    RFM_data['R_score'] = RFM_data['Recency'].apply(R_score,args = ('Recency',quantiles,))
    RFM_data['F_score'] = RFM_data['Frequency'].apply(FM_score,args = ('Frequency',quantiles,))
    RFM_data['M_score'] = RFM_data['Monetary'].apply(FM_score,args = ('TotalCost',quantiles,))
    RFM_data['RFM_Group'] = RFM_data['R_score'].astype(str) + RFM_data['F_score'].astype(str) + RFM_data['M_score'].astype(str)
    RFM_data['RFM_Score'] = RFM_data[['R_score','F_score','M_score']].sum(axis = 1)
  def Cus_Seg(self):
    loyalty_level = ['True Lover','Flirting','Potential lover','Platonic Friend']
    cuts = pd.qcut(RFM_data['RFM_Score'],q = 4,labels=loyalty_level)
    RFM_data['RFM_Loyality_level'] = cuts.values

In [118]:
df=RFM(RFM_data)
df.Rename_Col()
df.Div_Part()
df.Scoring()
df.Cus_Seg()

In [116]:
RFM_data

      CustomerID  Recency  Frequency  ...  RFM_Group  RFM_Score  RFM_Loyality_level
0        12346.0      325          1  ...        441          9     Potential lover
1        12347.0        2        182  ...        111          3          True Lover
2        12348.0       75         31  ...        331          7            Flirting
3        12349.0       18         73  ...        221          5          True Lover
4        12350.0      310         17  ...        443         11     Platonic Friend
...          ...      ...        ...  ...        ...        ...                 ...
4334     18280.0      277         10  ...        444         12     Platonic Friend
4335     18281.0      180          7  ...        444         12     Platonic Friend
4336     18282.0        7         12  ...        144          9     Potential lover
4337     18283.0        3        756  ...        111          3          True Lover
4338     18287.0       42         70  ...        221          5          True Lover

[4339 rows x 10 columns]

In [117]:
RFM_data.to_csv('RFM_data.csv') 
files.download('RFM_data.csv')