<a href="https://colab.research.google.com/github/Edna-soso/DataAnalysis_Project/blob/main/Data_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
data = pd.read_csv('/content/drive/MyDrive/python_OP/OnlineRetail.csv', encoding = 'unicode_escape')

print(data.shape)

(541909, 8)

In [ ]:
data.isna().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

Loại bỏ những hàng có CustomerID rỗng

In [ ]:
data = data[pd.notnull(data['CustomerID'])]

In [ ]:
data.shape

(406829, 8)

In [ ]:
data.describe()

            Quantity      UnitPrice     CustomerID
count  406829.000000  406829.000000  406829.000000
mean       12.061303       3.460471   15287.690570
std       248.693370      69.315162    1713.600303
min    -80995.000000       0.000000   12346.000000
25%         2.000000       1.250000   13953.000000
50%         5.000000       1.950000   15152.000000
75%        12.000000       3.750000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [ ]:
data = data.query("Quantity > 0")
data.shape

(397924, 8)

In [ ]:
data.describe()

            Quantity      UnitPrice     CustomerID
count  397924.000000  397924.000000  397924.000000
mean       13.021823       3.116174   15294.315171
std       180.420210      22.096788    1713.169877
min         1.000000       0.000000   12346.000000
25%         2.000000       1.250000   13969.000000
50%         6.000000       1.950000   15159.000000
75%        12.000000       3.750000   16795.000000
max     80995.000000    8142.750000   18287.000000

In [ ]:
data['Date']=[item[0] for item in data['InvoiceDate'].str.split()]
data['Time']=[item[1] for item in data['InvoiceDate'].str.split()]
data['Hour']=[item[0] for item in data['Time'].str.split(':')]
data['Month']=[item[0] for item in data['Date'].str.split('/')]
data['Year']=[item[2] for item in data['Date'].str.split('/')]
data['TotalCost']=data['Quantity']*data['UnitPrice']

In [ ]:
from google.colab import files
data.to_csv('filename.csv') 
files.download('filename.csv')