<a href="https://colab.research.google.com/github/Edna-soso/DataAnalysis_Project/blob/main/Data_Understand/Data_Understand.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
from google.colab import files

In [4]:
import pandas as pd
data = pd.read_csv('/content/drive/MyDrive/python_OP/OnlineRetail.csv', encoding = 'unicode_escape')

print(data.shape)

(541909, 8)

In [63]:
class data_understand:
  def __init__(self, data):
    self.data = data
  def basic_info(self):
    while(True):
      choice= int(input('*'*15+"Basic_Info"+ '*'*15+"\n1.The first five rows\n2.List colunms\n3.Sum of NaN values\n4.Showing Basics Statistics\n5.Displaying Data Types\n6.Exis\n"))
      if choice == 1:
        print(data.head())
      elif choice == 2:
        print(list(data.columns))
      elif choice ==3:
        print(data.isna().sum())   
      elif choice ==4:
        print(data.describe())   
      elif choice ==5:
        print(data.info()) 
      else:
        break

  def count_customer_country(self):
    country_data = data[['Country','CustomerID']].drop_duplicates()
    return country_data.groupby(['Country']).agg({'CustomerID' : 'count'}).sort_values('CustomerID',ascending = False).reset_index().rename(columns = {'CustomerID':'CustomerID Count'})
    
  def count_country(self):
    return data['Country'].value_counts()

In [64]:
df=data_understand(data)
df.basic_info()

***************Basic_Info***************
1.The first five rows
2.List colunms
3.Sum of NaN values
4.Showing Basics Statistics
5.Displaying Data Types
6.Exis
8