<a href="https://colab.research.google.com/github/Edna-soso/DataAnalysis_Project/blob/main/Data_Prepro/Data_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [59]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [60]:
from google.colab import files

In [66]:
import pandas as pd
data = pd.read_csv('/content/drive/MyDrive/python_OP/OnlineRetail.csv', encoding = 'unicode_escape')

print(data.shape)

(541909, 8)

In [68]:
class data_preprocessing:
  def __init__(self, data):
    self.data = data
  def True_Data(self):
    data.isna().sum()
    self.data = data[pd.notnull(data['CustomerID'])]
    self.data = data.query("Quantity > 0")
  def Add_Colunm(self):
    data['Date']=[item[0] for item in data['InvoiceDate'].str.split()]
    data['Time']=[item[1] for item in data['InvoiceDate'].str.split()]
    data['Hour']=[item[0] for item in data['Time'].str.split(':')]
    data['Month']=[item[0] for item in data['Date'].str.split('/')]
    data['TotalCost']=data['Quantity']*data['UnitPrice']
  def Data(self):
    return data

In [69]:
df = data_preprocessing(data)
df.True_Data()
df.Add_Colunm()
df.Data()

       InvoiceNo StockCode  ... Month  TotalCost
0         536365    85123A  ...    12      15.30
1         536365     71053  ...    12      20.34
2         536365    84406B  ...    12      22.00
3         536365    84029G  ...    12      20.34
4         536365    84029E  ...    12      20.34
...          ...       ...  ...   ...        ...
541904    581587     22613  ...    12      10.20
541905    581587     22899  ...    12      12.60
541906    581587     23254  ...    12      16.60
541907    581587     23255  ...    12      16.60
541908    581587     22138  ...    12      14.85

[541909 rows x 13 columns]

In [65]:
df.data_df().to_csv('Clean_Dataset.csv') 
files.download('Clean_Dataset.csv')